:root {
    --first_color: rgb(10, 9, 8);
    --second_color: rgb(34, 51, 59);
    --third_color: rgb(234, 224, 213);
    --fourth_color: rgb(198, 172, 143);
    --fifth_color: rgb(94, 80, 63);
    --margins: 20px;
    --padding: 10px;
}

* {
    margin:0px;
    padding:0px;
    border:0px;
}

body {
    background-color: var(--fifth_color);
    color: var(--third_color);
}

.a {
    color: var(--second_color);
}

hr {
    margin: var(--margins);
    border: var(--fifth_color) 1px inset;
}

.header {
    background-image: url("blocks.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.container {
    position:absolute;
    left:15%;
    width:70%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--first_color);
    border-left: var(--fourth_color) 2px solid;
    border-right: var(--fourth_color) 2px solid;
}

.container_item {
    /*background-color: var(--second_color);*/
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top:var(--margins);
    margin-left:var(--margins);
    margin-right:var(--margins);
    margin-bottom:0px;
    padding:var(--padding);
}

.sub_item {
    /*background-color: var(--third_color);*/
    border: var(--second_color) 2px solid;
    margin: 5px;
    border-radius: 10px;
    padding:var(--padding);
}

.item_header {
    width:100%;
    padding: var(--padding);
}

#info_text {
    width:60%;
}

#photo img {
    width:200px;
    border-radius: 100px;
}